.Item, 
.Item-collapse, 
.Item-expand {
	display: flex;
	overflow: hidden;
	margin-top: .5em;
	margin-bottom: .5em;
	flex-wrap: wrap;
	height:28px;
	cursor: pointer;
}

.Item-expand{
	height:auto;
	overflow:visible;
	cursor: pointer;
}

.Item {
	cursor: default;
}

.col-left,
.col-left-no-icon,
.col-right {
	text-align: left;
	flex: 1;
	font-weight: 300;
	font-size: calc(3px + 2vmin);
	color: black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.col-right {
	text-align: right;
	color: red;
}

.col-left {
	display: flex;
	/* align-items: center; */
}

.col-left-no-icon{
	margin-left: 29px;
}
 
.icon-collapse,
.icon-expand {
	width: 2vh;
	height: 2vh;
	margin-right: .5em;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-collapse {
	background-image: url('../icon-collapse.svg');
}

.icon-expand {
	background-image: url('../icon-expand.svg');
}

.sub-items {
	flex:100%;
}
